/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/
@font-face {
  font-family: "ACaslonPro";
  src: url(../../fonts/ACaslonPro-Regular.ttf);
}
@font-face {
  font-family: "Geomanist";
  src: url(../../fonts/geomanist-regular.ttf);
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "ACaslonPro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 2.0rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #986665;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 1.8rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-link {
  color: #676767;
}

@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}

.navbar {
  font-size: 14px;
  line-height: 53px;
}

/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "ACaslonPro", sans-serif;
  font-weight: normal;
  color: #777777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ACaslonPro", sans-serif;
  font-weight: 500;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*----------------------------------------------------*/
/* choice Area css
============================================================================================ */
.choice_inner {
  margin-bottom: -30px;
}

.choice_item {
  margin-bottom: 30px;
}

.choice_item .choice_text {
  margin-top: 20px;
}

.choice_item .choice_text h4 {
  font-size: 18px;
  line-height: 27px;
  color: #222222;
  font-family: "ACaslonPro", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.choice_item .choice_text h4:hover {
  color: #ff1857;
}

.choice_item .choice_text p {
  margin-bottom: 0px;
}

.choice_text {
  margin-top: 20px;
}

.choice_text h4 {
  font-size: 18px;
  line-height: 27px;
  color: #222222;
  font-family: "ACaslonPro", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.choice_text h4:hover {
  color: #ff1857;
}

.choice_text p {
  margin-bottom: 0px;
}

.small .choice_text h4 {
  font-size: 14px;
  line-height: 24px;
}

.date {
  margin-bottom: 15px;
}

.date .gad_btn {
  color: #fff;
}

.date a {
  color: #777777;
  font-size: 12px;
  font-family: "ACaslonPro", sans-serif;
  margin-right: 15px;
}

.date a i {
  padding-right: 8px;
}

.date a:last-child {
  margin-right: 0px;
}

/* End choice Area css
============================================================================================ */
/*============== footer-area css ===============*/
.footer-area {
  background: #04091e;
  padding-top: 100px;
}

.ab_widgets img {
  margin-bottom: 25px;
}

.f_title {
  background: #161a29;
  border-left: 3px solid #ff1857;
  margin-bottom: 30px;
}

.f_title h3 {
  padding-left: 15px;
  font-size: 18px;
  font-family: "ACaslonPro", sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 40px;
}

.f_widgets_inner {
  padding-bottom: 100px;
}

.m_news_widgets .m_news .media {
  margin-bottom: 25px;
}

.m_news_widgets .m_news .media .d-flex {
  padding-right: 20px;
}

.m_news_widgets .m_news .media .media-body h4 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.m_news_widgets .m_news .media .media-body h4:hover {
  color: #ff1857;
}

.m_news_widgets .m_news .media .media-body .date {
  margin-bottom: 0px;
}

.m_news_widgets .m_news .media .media-body .date a {
  margin: 0px;
}

.m_news_widgets .m_news .media .media-body .date a:last-child {
  float: right;
}

.m_news_widgets .m_news .media:last-child {
  margin-bottom: 0px;
}

.single-footer-widget p {
  margin-bottom: 0px;
  color: #777777;
  max-width: 325px;
}

.single-footer-widget ul li {
  margin-bottom: 12px;
}

.single-footer-widget ul li a {
  line-height: 25px;
  display: inline-block;
  color: #777;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.single-footer-widget ul li a:hover {
  color: #ff1857;
}

.single-footer-widget ul li:last-child {
  margin-bottom: 0px;
}

.single-footer-widget .instafeed {
  margin-left: -5px;
  margin-right: -5px;
}

.single-footer-widget .instafeed li {
  margin: 5px;
}

.single-footer-widget .subscribe_form {
  padding-top: 25px;
}

.single-footer-widget .input-group {
  display: block !important;
}

.single-footer-widget input {
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 30px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  background: transparent;
  padding-left: 20px;
}

.single-footer-widget input.placeholder {
  color: #999999;
}

.single-footer-widget input:-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-webkit-input-placeholder {
  color: #999999;
}

.single-footer-widget input:focus {
  outline: none;
}

.single-footer-widget .sub-btn {
  background: #ff1857;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  line-height: 34px;
  padding: 4px 11px 0px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.single-footer-widget .sub-btn span {
  position: relative;
  top: -1px;
}

.footer_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px;
}

.f_boder {
  border-top: 1px solid #333333;
}

.footer-bottom .footer-text {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom .footer-text i {
  color: #ff1857;
}

.footer-bottom .footer-text a {
  color: #ff1857;
}

.footer-bottom .footer-social {
  text-align: right;
}

.footer-bottom .footer-social a {
  font-size: 12px;
  line-height: 30px;
  color: #82848f;
  margin-left: 7px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 30px;
  width: 30px;
  border: 1px solid #555555;
  display: inline-block;
  text-align: center;
}

.footer-bottom .footer-social a:hover {
  color: #fff;
  background: #4f63a0;
  border-color: #4f63a0;
}

.footer-bottom .footer-social a:nth-child(2):hover {
  background: #6fc9ff;
  border-color: #6fc9ff;
}

.footer-bottom .footer-social a:nth-child(3):hover {
  background: #ff1857;
  border-color: #ff1857;
}

.footer-bottom .footer-social a:nth-child(4):hover {
  background: #c2141f;
  border-color: #c2141f;
}

.footer-bottom .footer-social a:nth-child(5):hover {
  background: #ef7100;
  border-color: #ef7100;
}

.f_social_wd p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 15px;
}

.f_social_wd .f_social a {
  font-size: 14px;
  color: #cccccc;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-right: 20px;
}

.f_social_wd .f_social a:hover {
  color: #ff1857;
}

.f_social_wd .f_social a:last-child {
  margin-right: 0px;
}

/*---------------------------------------------------- */
.nav-item {
  margin-left: 22px;
  margin-right: 22px;
}
#navbarSupportedContent {
  font-family: "Geomanist", sans-serif;
  transition: 1s;
}

#navbarSupportedContent .navbar-nav .nav-link {
  color: #808080 !important;
}

#navbarSupportedContent .navbar-nav .nav-item.active .nav-link {
  color: #333 !important;
}

#navbarSupportedContent.scrolled {
  background-color: rgba(0,0,0,0.7);
}

#navbarSupportedContent.scrolled .navbar-nav .nav-link {
  color: #ccc !important;
}

#navbarSupportedContent.scrolled .navbar-nav .nav-item.active .nav-link {
  color: #f5f5f5 !important;
}