/* Header Area css
============================================================================================ */
.header_area{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 3;
	& + section, & + div{
		margin-top: 175px;
	}
}
.top_menu{
	overflow: hidden;
	background: #f9f9ff;
	.float-left{
		a{
			font-size: 12px;
			color: #fff;
			background: $baseColor;
			font-family: $rob;
			font-weight: normal;
			text-transform: uppercase;
			padding: 0px 15px;
			line-height: 30px;
			display: inline-block;
			border: 1px solid $baseColor;
			margin-top: 6px;
			&:hover{
				background: transparent;
				color: $baseColor;
			}
		}
	}
	.float-right{}
}
.logo_part{
	overflow: hidden;
	padding: 20px 0px;
	.float-left{
		.logo{
			margin-top: 20px;
			display: inline-block;
		}
	}
	.float-right{}
}
.header_social{
	li{
		display: inline-block;
		margin-right: 15px;
		a{
			font-size: 14px;
			color: #aaaaaa;
			display: inline-block;
			line-height: 45px;
			@include transition;
		}
		&:last-child{
			margin-right: 0px;
		}
		&:hover{
			a{
				color: $baseColor;
			}
		}
	}
}

.main_menu{
	.navbar{
        background: transparent;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
		margin-bottom: 0px;
		.container_inner{
			background: #fff;
			flex-wrap: nowrap;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.navbar-brand{
			display: none;
		}
        .nav{
			padding-left: 20px;
            .nav-item{
				margin-right: 45px;
                .nav-link{
                    font: 500 12px/60px $rob;
                    text-transform: uppercase;
                    color: $dip;
                    padding: 0px;
                    display: inline-block;
                    &:after{
                        display: none;
                    }
                }
                &:hover, &.active{
                    .nav-link{
                        color: $baseColor;
                    }
                }
                &.submenu{
                    position: relative;
                    ul{
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        box-shadow: none;
                        margin: 0px;
                        background: #fff;
                        @media (min-width: 992px){
                            position: absolute;
                            top: 120%;
                            left: 0px;
                            min-width: 200px;
                            text-align: left;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            visibility: hidden;
                            display: block;
                            border: none;
                            padding: 0px;
                            border-radius: 0px;
                        }
                        &:before{
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #eeeeee transparent transparent transparent;
                            position: absolute;
                            right: 24px;
                            top: 45px;
                            z-index: 3;
                            opacity: 0;
                            transition: all 400ms linear;
                        }
                        .nav-item{
                            display: block;
                            float: none;
                            margin-right: 0px;
                            border-bottom: 1px solid #ededed;
                            margin-left: 0px;
                            transition: all 0.4s linear;
                            .nav-link{
                                line-height: 53px;
                                color: $dip;
                                padding: 0px 30px;
                                transition: all 150ms linear;
                                display: block;
                                margin-right: 0px;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:hover{
                                .nav-link{
                                    background: $baseColor;
                                    color: #fff;
                                }
                            }    
                        }
                    }
                    &:hover{
                        ul{
                            @media (min-width: 992px){
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                            .nav-item{
                                margin-top: 0px;
                            }
                        }
                    }
                }
				&:last-child{
					margin-right: 0px;
				}
            }
        }
        .search{
            font-size: 12px;
            line-height: 60px;
            display: inline-block;
            color: $dip;
			padding-right: 20px;
            i{
                font-weight: 600;
            }
        }
    }
}

/* End Header Area css
============================================================================================ */
